$tomato: hsl(4, 100%, 67%);
$lightTomato: hsla(4, 100%, 67%, 0.247);
$darkSlateGrey: hsl(234, 29%, 20%);
$charcoalGrey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$lightGrey: hsla(231, 7%, 60%, 0.5);
$white: hsl(0, 0%, 100%);

$gradient1: hsl(348, 100%, 66%);
$gradient2: hsl(14, 100%, 62%);